.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 12px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.chosen {
    padding: 16px 32px;
    border-radius: 16px;
    background: #274C5B;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 280px;
}

.notChosen {
    border-radius: 16px;
    background: #EFF6F1;
    color: #274C5B;
    padding: 16px 32px;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 280px;

}

.info {
    color: #525C60;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 700px;
}

.textShow {
    display: block;
    box-sizing: border-box;
}

.textHide {
    display: none;
    box-sizing: border-box;
}