.button {
    display: flex;
    padding: 20px 36px 20px 36px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    min-width: fit-content;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#primary-btn {
    background: #274C5B;
    color: #FFF;
}

#secondary-btn {
    background: #EFD372;
    color: #274C5B;
}

#teriary-btn {
    border: 1px solid #274C5B;
    background: #FFF;
    color: #274C5B;
}

.arrow {
    width: 20px;
    height: 20px;
}